.main-page {
    position: relative;
    min-height: 100%;
    flex-grow: 1;
    margin-right: 330px;
}

.zm-section {
    /* position: absolute; */
    inset: 0px;
    /* overflow: hidden scroll; */
    margin-right: -6px;
    margin-bottom: 0px;
}

.zm-section>.container {
    min-height: calc(100% - 158px);
}

.gallery-container {
    height: 159.753px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.slide {
    padding-top: 54%;
    border-radius: 8px;
}

.slide1 {
    background: url('./images/slide1.jpg') center no-repeat;
    background-size: cover;
}

.slide2 {
    background: url('./images/slide2.jpg') center no-repeat;
    background-size: cover;
}

.slide3 {
    background: url('./images/slide3.jpg') center no-repeat;
    background-size: cover;
}

.slide4 {
    background: url('./images/slide4.jpg') center no-repeat;
    background-size: cover;
}

.slide5 {
    background: url('./images/slide5.jpg') center no-repeat;
    background-size: cover;
}

.slide6 {
    background: url('./images/slide6.jpg') center no-repeat;
    background-size: cover;
}

.owl-nav {
    margin: 0 !important;
}

.owl-next {
    right: 14px;
}

.owl-prev {
    left: 10px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #869791 !important;
    margin: 0 !important;
}
.owl-prev i, .owl-next i {
    color: #fff;
    font-size: 1.4rem;
}